/* --------- Global style */

body {
    background-color: rgba(202, 193, 221, 0.813);
    font-family: "Raleway", sans-serif;
    color: rgb(68, 182, 205);
    text-align: center;
}

/*  Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
    height: 50px;
    background-color: #7e71c7;
}
/* Gaming Area */
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 50%;
}


/* Shaping the table*/
td {
    border: 6px solid rgb(68, 182, 205);
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 90px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: relative;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

#endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(237, 237, 32, 0.4);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 2em;
}

.explain {
    display: block;
}

.scores {
    display: inline-block;
    padding: 10px;
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}
